{% extends 'meetups/base/base.html' %}
{% load static %}

{% block link_css %}
    <link href="{% static 'meetups/base.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'meetups/all-meetups.css' %}" type="text/css" rel="stylesheet"/>
{% endblock link_css %}

{% block title %}<title>Meetups</title>{% endblock title %}

{% block content %}

{% include 'meetups/includes/header.html' %}

<main>
    <section>
        <h2> Upcoming Meetups</h2>
        <ol>
            {% for meetup in all_meetups %}
                <li class="meetup-item">
                    <article>
                        <div class="meetup-summary">
                            <div class="meetup-image">
                                <img src="{{meetup.image.url}}" alt="{{meetup.title}}">
                            </div>
                            <div class="meetup-details">
                                <h3>{{meetup.title}}</h3>
                                <address>{{meetup.location}}</address>
                            </div>
                        </div>
                        <div class="meetup-actions">
                            <a href="{% url 'meetup_detail' meetup.slug %}" class="btn" >More details</a>
                        </div>
                    </article>
                </li>
            {% endfor %}
        </ol>
    </section>
</main>
{% endblock content %}