{% extends 'meetups/base/base.html' %}
{% load static %}

{% block link_css %}
    <link href={% static 'meetups/base.css' %} type="text/css" rel="stylesheet">
    <link href={% static 'meetups/meetup-details.css' %} type="text/css" rel="stylesheet">
{% endblock link_css %}

{% block title %}<title>{{meetup_detail.title}}</title>{% endblock title %}

{% block content %}

{% include 'meetups/includes/header.html' %}
    
<main>
    <article>
        <img src="{{meetup_detail.image.url}}" alt="{{meetup.title}}">
        <section id="location">
            <h2>Meetup Location</h2>
            <address>This meetup takes place in <span>{{meetup_detail.place.name}}</span>({{meetup_detail.place.address}}).</address>
        </section>
        <section id="details">
            <h2>What this meetup about!</h2>
            <p>{{meetup_detail.description}}</p>
            <footer>
                <p>Need more details? Please contact the organizer <a href="mailto:{{meetup_detail.organizer.email}}"> {{meetup_detail.organizer.name}} </a>
            </footer>
        </section>
        <section id="registration">
            <h2> Join us ! </h2>
            <!--send this data to meetup_detail url, passing slug as this url need it 
                and we have slug in our meetup_detail object so use it-->
            {{registered}}
            <form action="{% url 'meetup_detail' meetup_detail.slug %}" method="POST">
                {% csrf_token %}
                {{form}}
                {% if not registered %}
                    <button type="submit">Register Me!</button>
                {% endif %}
            </form>
        </section>
    </article>
</main>
{% endblock content %}